* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

p,
li, .glink {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.a {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: #153243;
  color: #fff;
}

#header {
  width: 100%;
  height: 100vh;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 20px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff7f11;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span {
  color: #ff7f11;
}

.header-text {
  animation: 4s anim-lineup ease-out;
}

@keyframes anim-lineup {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

#header h2 {
  display: none;
  /* color:#ff7f11;
  margin: auto;
  width: 100%;
  padding: 50px;
  text-align: center;
  position: absolute;
  bottom: 0; */
}

/* About */

#about {
  padding: 80px 0;
  color: #ffffff;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff7f11;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* -------------------------projects--------------------------------------- */

.container > #project-list {
  display: flex;
  padding-top: 5%;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: auto;
  grid-auto-flow: column;
  gap: 40px;
  direction: ltr;
  /* grid-template-columns: auto auto auto; */
  /* grid-template-rows: repeat(auto-fit, minmax(150px, 1fr)); */
  /* grid-gap: 160px;
  margin-top: 50px;
  grid-template-areas: "projectitem" "projectitem" "projectitem"; */
}

.container > #project-list > .projectitem {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0px;
}

.container > #project-list > .projectitem > img {
  object-fit: cover;
  /* max-width: 40vw; */
  max-height: 40vh;
  width: 400px;
  height: 500px;
  /* margin-top: 20px; */
}

.container > #project-list > .projectitem > p > a {
  text-decoration: none;
  color: #fff;
  position: relative;
  /* margin-top: 20px;
  margin-bottom: 20px; */
}

.container > #project-list > .projectitem > p > img {
  max-height: 40px;
}

.github-button {
  background-color: #ff7f11; /* Green */
  border: none;
  color: white;
  padding: 16px 30px;
  border-radius: 8px;
  text-align: justify;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  transition-duration: 0.4s;
  cursor: pointer;
}

.github-button:hover {
  background-color: #ffffff; /* New color on hover */
  color: #ff7f11; /* Keep the icon color white on hover */
}

.glink {
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 700px) {
  #about .container .row .about-col-1 img {
    width: 300px;
    height: auto;
  }
  .container > #project-list {
    flex-direction: column;
  }

  .container #project-list h1, .sub-title{
    font-size: 1.5rem;
  }

  .container > #project-list > .projectitem > img {
    width: 80vw;
    height: auto;
  }

  nav > ul {
    display: none;
  }

  nav > h1 {
    margin: 25px 25px 25px 0px;
  }

  .header-text > h1 {
    font-size: 40px;
    margin-bottom: 150px;
  }

  .header-text > p {
    font-size: 80%;
  }

  #header {
    height: 60vh;
  }

  /* h2.text {display:inline-block} */

  #header h2 {
    display: block;
    color: #ff7f11;
    margin: auto;
    width: 100%;
    padding: 50px;
    text-align: center;
    /* position: absolute;
    bottom: 0; */
  }

  .sub-title {
    font-size: xx-large;
  }

  #pipeline .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
  }

  #pipeline .container ul li {
    padding: 10px;
    font-size: 0.6rem !important;
    
  }

  #pipeline .container h1 {
    font-size: 1.5rem;
  }

  #pipeline .container {
    padding: 40px !important;
  }

}


h1 {
  padding: 10px 0px 10px 0px;
}

.container #project-list .projectitem p a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -6px;
  left: 0;
  background-color: #ff7f11;
  transform-origin: bottom right;
  transition: 0.5s;
}

.container #project-list .projectitem p a:hover::after {
  width: 100%;
  /* transform-origin: bottom left; */
}

/* -------------------------pipeline--------------------------------------- */

#pipeline {
  background-color: #ff7f11;
}

#pipeline .container {
  margin-top: 150px;
  padding: 100px;
}

#pipeline .container {
  display: flex;
  justify-content: space-between;
}

#pipeline .container ul li {
  list-style: none;
  text-align: center;
  padding: 5px;
}

#pipeline .container h1 {
  padding: 0;
}

#pipeline .container ul li:nth-child(2) {
  opacity: 0.75;
  font-size: 0.85rem;
}

#pipeline .container ul li:nth-child(3) {
  opacity: 0.55;
  font-size: 0.75rem;
}

#pipeline .container ul li:nth-child(4) {
  opacity: 0.45;
  font-size: 0.65rem;
}
